/* Styles specific to the Generators page */

body {
    font-family: 'Orbitron', sans-serif;
    background: #2b2b2b;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background: #000000; /* Dark purple */
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header .title {
    font-size: 36px;
    font-weight: bold;
    color: #fff; /* White text */
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff; /* White neon glow */
}

.navbar {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    background: #5a00c7; /* White background */
    color: #ffffff; /* Black text */
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}

.navbar a:hover {
    background: #ff0000; /* Dark purple */
    color: #fff; /* White text */
}

section {
    padding: 40px 20px;
    text-align: center;
}

.generator-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.generator-links a:nth-child(1),
.generator-links a:nth-child(2),
.generator-links a:nth-child(3) {
    flex: 1 1 30%;
}

.generator-links a:nth-child(4),
.generator-links a:nth-child(5) {
    flex: 1 1 45%;
}

.generator-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 220px;
    height: 130px;
    border: 2px solid #000000; /* White border */
    border-radius: 10px;
    text-decoration: none;
    color: #000000; /* White text */
    background-color: #1e1e1e; /* Dark background */
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
    padding: 10px;
    box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff; /* White glow */
}

.generator-box:hover {
    transform: translateY(-10px);
    background-color: #000000; /* Dark purple */
    color: #fff;
}

.site-name {
    font-size: 18px;
    font-weight: bold;
    color: #ff0000; /* White text */
    text-shadow: 0 0 10px #ff0000; /* White neon glow */
    margin-top: 15px;
}

hr {
    width: 100%;
    border: none;
    height: 2px;
    background: #ffffff; /* White line */
    margin: 5px 0;
}

.click-text {
    font-size: 20px;
    font-weight: bold;
    color: #fff; /* White text */
    text-shadow: 0 0 10px #fff; /* White neon glow */
}

footer {
    text-align: center;
    background: #5a00c7; /* Dark purple */
    padding: 20px;
    color: #fff; /* White text */
    box-shadow: 0 -4px 8px rgb(0, 0, 0, 0.2);
}

footer p {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar li {
        margin: 10px 0;
    }
}
